table{
  border:2px solid black;
  border-collapse: separate;
  background-color: lightgray;
  height:250px;
  width:20%;

 }
h1{
  font-weight: bolder;
  color:red;
  align-self:center;
  margin-left:50px;

}
button:hover{
  background-color: blue;

}



