<h1 align="center">Change Password</h1>
<table align="center">

<div class="form-group" align="center">


  <div class="form-group">
    <h3>EMAIL_ID</h3><div class="form-control">
      <input type="email" [(ngModel)]="email_id" placeholder="email_id">
    </div>
  </div>
  <div class="form-group">
    <h3> NEW PASSWORD</h3><div class="form-control">
      <input type="text" [(ngModel)]="password" placeholder="enter new password">
    </div>
<br>
<br>
    <button (click)="onSave()">SAVE</button>&nbsp;&nbsp;
    <button (click)="onCancel()">CANCEL</button>
  </div>
  </div>
</table>

