<html>
  <div class="form-group" align="center">
      <h1>FORGET PASSWORD</h1>
    <table>

      <tr>
        <td>EMAIL ID</td><br>
        <input type="text" [(ngModel)]="email_id" placeholder="email_id">
      </tr>
      <tr>
        <td>PASSWORD</td><br>
        <input type="text" [(ngModel)]="password" placeholder="password">
      </tr>
      <tr>

        <button (click)="onDone()">Done</button>
      </tr>
      <tr>
          <button (click)="onCancel()">Cancel</button>
      </tr>


    </table>
  </div>
</html>
